@import "../utils/Colors.scss";
@import "../utils/Mixins.scss";

.about_header {
  display: flex;
  align-items: flex-start;
  background-image: linear-gradient(10deg, $grey-4-dark, $grey-3-dark-lighter);
  height: 40rem;
}

.about-content {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 4rem;

  color: $grey-3-dark-lighter;
  @media only screen and (max-width: 700px) {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.about-hero {
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-top: -25rem;

  @media only screen and (max-width: 1000px) {
    width: 80%;
  }
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }

  &-title {
    color: $white-darker;
    margin-bottom: 2rem;

    ::selection {
      background-color: #e6e6e6;
      color: #37434f;
    }
    @media only screen and (max-width: 1000px) {
      text-align: center;
    }
    & > h1 {
      font-size: 4rem;
      font-weight: 300;
      font-family: "Merriweather", serif;
    }
    & > p {
      font-size: 2rem;
      color: $grey-1-light;
    }
  }

  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $white-darker;
    padding: 2rem 4rem;

    @include boxShadowLight;

    ::selection {
      background-color: #37434f;
      color: #e6e6e6;
    }

    & > p {
      font-size: 2rem;
      width: 50rem;
    }
    &-img {
      width: 50%;
    }
    @media only screen and (max-width: 700px) {
      flex-direction: column;
      & > p {
        width: 100%;
        margin-bottom: 2rem;
      }
      &-img {
        width: 100%;
      }
    }
  }
}

.card-container {
  display: flex;
  align-content: center;
  justify-content: space-between;

  width: 70%;

  margin: 0% auto;
  margin-top: 10rem;
  margin-bottom: 10rem;

  @media only screen and (max-width: 1000px) {
    width: 80%;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    & > div:not(:last-of-type) {
      margin-bottom: 10rem;
    }
  }
}
