@import "../utils/Colors.scss";
@import "../utils/Mixins.scss";

.contact {
  background-image: linear-gradient(10deg, $white-darker, $white-light);
  overflow: hidden;
}

.contact_request_form {
  background-color: $white-darker;
  @include boxShadowLight;
  padding: 1rem 2rem;
}

.contact-form-container {
  position: relative;
  margin-top: -40rem;

  ::selection {
    background-color: #37434f;
    color: #e6e6e6;
  }

  @media only screen and (max-width: 600px) {
    margin-top: -29rem;
  }
}

.contact_form_title {
  padding: 0;
  width: 50%;
  text-align: left;

  margin-bottom: 1rem;

  & > h2 {
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 300;
    color: $white-darker;
  }
  & > p {
    width: 100%;
    color: $grey-1-light;
  }
  ::selection {
    background-color: #e6e6e6;
    color: #37434f;
  }

  @media only screen and (max-width: 1000px) {
    text-align: center;
    width: 70%;
  }

  @media only screen and (max-width: 681px) {
    width: 80%;
  }

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.contact_header {
  display: flex;
  align-items: flex-start;
  background-image: linear-gradient(10deg, $grey-4-dark, $grey-3-dark-lighter);
  height: 40rem;
}

.form_label {
  color: $grey-4-dark;
}

.contact_btn {
  background-color: $white-darker;
  border: 1px solid $grey-1-light;
  color: $red;
  margin-bottom: 2rem;
  &:hover {
    box-shadow: 2px 2px 2px 2px $grey-4-dark;
  }
}
