@import "../utils/Colors.scss";
@import "../utils/Mixins.scss";

.work-content {
  position: relative;
  margin-top: -25rem;
  &-title {
    color: $white-darker;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3rem;

    @media only screen and (max-width: 1000px) {
      width: 80%;
    }

    @media only screen and (max-width: 700px) {
      width: 95%;
    }
    @media only screen and (max-width: 400px) {
      width: 92%;
    }

    ::selection {
      background-color: #e6e6e6;
      color: #37434f;
    }
    & > h1 {
      font-size: 4rem;
      font-weight: 300;
    }
    & > p {
      font-size: 2rem;
      color: $grey-1-light;
    }
  }
}

.work-content-card {
  display: flex;

  width: 60%;

  margin: 0 auto;
  margin-bottom: 5rem;

  padding: 3rem 0;

  background-color: $white-darker;
  @include boxShadowLight;

  overflow: hidden;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;

    width: 80%;
  }

  @media only screen and (max-width: 700px) {
    width: 95%;
  }
  @media only screen and (max-width: 400px) {
    width: 92%;
  }

  ::selection {
    background-color: #37434f;
    color: #e6e6e6;
  }
  &-text {
    width: 50%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  &-title {
    padding: 1rem 2rem;
    color: $grey-4-dark;
    & > h2 {
      font-size: 3rem;
    }
    & > p {
      font-size: 2rem;
    }
  }

  &-paragraphs {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: $grey-3-dark-lighter;
    @media only screen and (max-width: 400px) {
      font-size: 2rem;
    }
  }

  &-image {
    width: 60%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    @media only screen and (max-width: 1000px) {
      width: 90%;
      margin: 0 auto;
    }
    &-actualImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-actualImage-2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.02);
    }

    &-actualImage,
    &-actualImage-2 {
      transform: scale(1.2);
      &:hover {
        transform: scale(1);
      }
      transition: all 0.5s ease-in-out;
    }
  }
}
