@import "../utils/Colors.scss";

.contact-section {
  display: flex;
  align-content: center;
  justify-content: space-between;

  width: 50%;

  margin: 0 auto;
  margin-bottom: 6rem;

  ::selection {
    background-color: #37434f;
    color: #e6e6e6;
  }

  &-field {
    padding: 2rem 4rem;
    background-color: $white-darker;
    width: 40%;
    color: $grey-4-dark;

    &-title {
      margin-bottom: 2rem;
      h2 {
        font-size: 3rem;
        font-weight: 400;
      }
      p {
        font-size: 1.4rem;
      }
    }

    &-contactData {
      font-size: 2rem;
    }
  }
}
