@import "../utils/Colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;1,100&display=swap");

.header {
  position: relative;
  width: 100%;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-content: center;

  padding: 2rem 20rem;

  @media only screen and (max-width: 1000px) {
    padding: 2rem 4rem;
  }

  ::selection {
    background-color: #e6e6e6;
    color: #37434f;
  }

  h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 10rem;
    font-weight: 100;

    padding: 2rem 4rem;
  }

  p {
    font-size: 3rem;
    font-weight: 300;
  }

  h1,
  p {
    color: $white-darker;
  }
}

.logo {
  position: relative;
  width: 50%;
  transition: all 0.2s;
  &:hover {
    transform: rotate(10deg);
  }

  @media only screen and (max-width: 1400px) {
    width: 40%;
  }
  @media only screen and (max-width: 1000px) {
    pointer-events: none;
    width: 30%;
  }

  z-index: 99999;
}

/////////////////////////////////////////////////////////////////////////////////////////////@include
