@import "../utils/Colors.scss";
@import "../utils/Mixins.scss";

.hero {
  position: relative;
  padding: 7rem 10rem;
  color: $white-darker;
  text-align: center;
  height: 100vh;

  overflow: hidden;

  @media only screen and (max-width: 800px) {
    height: 100%;
  }
  @media only screen and (max-width: 700px) {
    padding: 3rem 0;
  }

  ::selection {
    background-color: #e6e6e6;
    color: #37434f;
  }

  & > h1 {
    font-size: 4.5rem;
    font-weight: 300;
    color: $white-light;
    margin-bottom: 2rem;

    font-family: "Merriweather", serif;

    @media only screen and (max-width: 1000px) {
      font-size: 5rem;
    }

    @media only screen and (max-width: 450px) {
      font-size: 4rem;
    }
    @media only screen and (max-width: 500px) {
      padding: 1rem;
    }
  }

  .main-navigation-contact {
    font-size: 1.6rem;
  }

  &-body {
    position: relative;
    margin: 0 auto;

    height: 100%;

    padding: 5rem;

    z-index: 1;

    @media only screen and (max-width: 500px) {
      padding: 4rem;
    }

    & > p {
      width: 40%;
      margin: 0 auto;

      margin-bottom: 20rem;

      font-size: 2.2rem;
      font-weight: 400;
      color: $white-light;

      z-index: 1;

      & > span {
        color: $red;
      }
      @media only screen and (max-width: 1600px) {
        width: 60%;
      }

      @media only screen and (max-width: 1400px) {
        width: 50%;
      }
      @media only screen and (max-width: 1000px) {
        width: 60%;
      }

      @media only screen and (max-width: 700px) {
        width: 80%;
      }
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: linear-gradient(
          to top,
          rgba(#000, 0),
          rgba(#000, 0),
          rgba(#000, 0),
          rgba(#000, 0.8)
        ),
        url("../images/jump.jpg");

      background-position: center;
      background-size: cover;

      background-repeat: no-repeat;

      opacity: 0.5;
      filter: grayscale(0);
      z-index: -1;

      @media only screen and (max-width: 1000px) {
        background-image: linear-gradient(
            to top,
            rgba(#000, 0),
            rgba(#000, 0.8)
          ),
          url("../images/jump.jpg");
      }
    }
  }
}
