@import "../utils/Colors.scss";
@import "../utils/Variables.scss";
@import "../utils/Mixins.scss";

.card-container-flip {
  position: relative;

  width: 30rem;
  height: 40rem;

  &:hover {
    .card-front {
      transform: rotateY(180deg);
    }
  }
  &:hover .card-backside {
    transform: rotateY(0deg);
  }

  @media only screen and (max-width: 1000px) {
    pointer-events: none;
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
    height: 80rem;
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
    height: 60rem;
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
    height: 55rem;
  }
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include boxShadowLight;

  backface-visibility: hidden;

  transition: all 0.8s ease;

  & > h2 {
    display: inline-block;
    color: $white-darker;
    padding: 1rem 2rem;
    font-size: 2rem;
    & > span {
      font-size: 1.4rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    filter: grayscale(1);

    z-index: -1;
  }
  &-horia-image {
    &::before {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5)
        ),
        $horia-backgroudImage;
    }
  }
  &-mihai-image {
    &::before {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5)
        ),
        $mihai-backgroudImage;
    }
  }
}

.card-backside {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 2rem;

  background-color: $white-darker;

  @include boxShadowLight;

  backface-visibility: hidden;

  transition: all 0.8s ease;

  ::selection {
    background-color: #37434f;
    color: #e6e6e6;
  }

  &-title {
    & > h2 {
      font-size: 2rem;
    }
    & > p {
      font-size: 1.6rem;
    }
  }

  & > p:last-of-type {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}

.card-link {
  text-decoration: none;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

  font-size: 1.6rem;

  &:link,
  &:visited,
  &:active {
    color: $grey-4-dark;
  }
}

.icon_card {
  color: $grey-3-dark-lighter;
}
