$grey-1-light: #7c90a3;
$grey-2-light-darker: #61778b;
$grey-3-dark-lighter: #4c5d6d;
$grey-4-dark: #37434f;

$white-light: #ffffff;
$white-light-darker: #f8f8f8;
$white-darker: #e6e6e6;
$white-darker-dark: #999999;

$red: #d61b1b;
