@import "./Colors.scss";

@mixin borderRadius {
  border-radius: 1px;
}

@mixin borderRadiusBig {
  border-radius: 3px;
}

@mixin borderRadiusBiger {
  border-radius: 10px;
}

@mixin boxShadowLight {
  box-shadow: rgba($grey-4-dark, 0.2) 0px 8px 24px;
}
