@import "./utils/Colors.scss";

html {
  font-size: 62.5%; /* 1rem = 10px: 10px/16px = 62.5% */
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 50%; /* 1rem = 8px: 8px/16px = 50% */
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 43.75%; /* 1rem = 7px: 7px/16px = 43.75% */
  }
}

// @media only screen and (max-width: 800px) {
//   html {
//     font-size: 37.5%; /* 1rem = 6px: 6px/16px = 37.5% */
//   }
// }

.App {
  background-image: linear-gradient(10deg, $grey-4-dark, $grey-3-dark-lighter);
  overflow: hidden;
}
